**DATA PREPARATION**

In [17]:
import pandas as pd
import numpy as np
import matplotlib

**MEMBACA DATA DENGAN PANDAS**

**CSV**

In [20]:
df_heart = pd.read_csv("/DSCA/Data Analysis with Pandas/heart.csv")
df_heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [21]:
stent = pd.read_csv("/DSCA/Data Analysis with Pandas/stent30.csv")
stent.head()

       group outcome
0  treatment  stroke
1  treatment  stroke
2  treatment  stroke
3  treatment  stroke
4  treatment  stroke

**JSON**

In [22]:
pd.read_json("/DSCA/Data Analysis with Pandas/owid-covid-latest.json")

,AFG,OWID_AFR,ALB,DZA,AND,AGO,AIA,ATG,ARG,ARM,...,UZB,VUT,VAT,VEN,VNM,WLF,OWID_WRL,YEM,ZMB,ZWE
continent,Asia,None,Europe,Africa,Europe,Africa,North America,North America,South America,Asia,...,Asia,Oceania,Europe,South America,Asia,Oceania,None,Asia,Africa,Africa
location,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,World,Yemen,Zambia,Zimbabwe
last_updated_date,2021-06-23,2021-06-23,2021-06-23,2021-06-23,2021-06-23,2021-06-23,2021-06-18,2021-06-23,2021-06-23,2021-06-23,...,2021-06-23,2021-06-23,2021-06-23,2021-06-23,2021-06-23,2021-06-21,2021-06-23,2021-06-23,2021-06-23,2021-06-23
total_cases,107957.0,5281109.0,132497.0,137049.0,13873.0,38002.0,None,1263.0,4326101.0,224430.0,...,107266.0,4.0,27.0,263372.0,13989.0,None,179595550.0,6898.0,137026.0,43480.0
new_cases,2208.0,32962.0,1.0,370.0,9.0,128.0,None,0.0,27319.0,100.0,...,419.0,0.0,0.0,0.0,207.0,None,437255.0,6.0,3367.0,766.0
new_cases_smoothed,2095.571,25352.0,3.0,370.143,5.286,129.714,None,0.0,18211.571,75.143,...,400.429,0.0,0.0,1130.714,313.571,None,364715.286,4.429,2596.571,417.714
total_deaths,4366.0,139105.0,2455.0,3660.0,127.0,878.0,None,42.0,90986.0,4503.0,...,722.0,1.0,None,2989.0,70.0,None,3891758.0,1355.0,1794.0,1692.0
new_deaths,73.0,516.0,0.0,10.0,0.0,3.0,None,0.0,705.0,1.0,...,2.0,0.0,None,0.0,1.0,None,9521.0,0.0,50.0,1.0
new_deaths_smoothed,97.571,458.857,0.143,8.857,0.0,4.429,None,0.0,532.143,1.857,...,1.571,0.0,0.0,14.714,1.286,None,8382.429,0.571,43.143,7.429
total_cases_per_million,2773.224,3939.368,46041.073,3125.33,179550.896,1156.261,None,12897.231,95719.142,75738.197,...,3204.917,13.023,33374.536,9261.94,143.715,None,23040.435,231.275,7453.564,2925.4
new_cases_per_million,56.72,24.588,0.347,8.438,116.482,3.895,None,0.0,604.459,33.747,...,12.519,0.0,0.0,0.0,2.127,None,56.096,0.201,183.149,51.538
new_cases_smoothed_per_million,53.832,18.911,1.042,8.441,68.41,3.947,None,0.0,402.949,25.358,...,11.964,0.0,0.0,39.764,3.221,None,46.79,0.148,141.241,28.104
total_deaths_per_million,112.155,103.763,853.082,83.464,1643.694,26.714,None,428.887,2013.153,1519.623,...,21.572,3.256,None,105.113,0.719,None,499.276,45.43,97.585,113.84
new_deaths_per_million,1.875,0.385,0.0,0.228,0.0,0.091,None,0.0,15.599,0.337,...,0.06,0.0,None,0.0,0.01,None,1.221,0.0,2.72,0.067
new_deaths_smoothed_per_million,2.506,0.342,0.05,0.202,0.0,0.135,None,0.0,11.774,0.627,...,0.047,0.0,0.0,0.517,0.013,None,1.075,0.019,2.347,0.5
reproduction_rate,1.44,None,0.45,1.12,0.93,0.88,None,0.21,0.8,0.93,...,1.17,None,None,0.99,1.2,None,0.93,0.74,1.61,1.86
icu_patients,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
icu_patients_per_million,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
hosp_patients,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
hosp_patients_per_million,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
weekly_icu_admissions,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
weekly_icu_admissions_per_million,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
weekly_hosp_admissions,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
weekly_hosp_admissions_per_million,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
new_tests,None,None,2224.0,None,None,None,None,None,37195.0,3814.0,...,None,None,None,None,59363.0,None,None,None,6369.0,3538.0
total_tests,None,None,737014.0,None,194606.0,None,None,16700.0,10724876.0,1138719.0,...,None,None,None,None,5043551.0,None,None,None,1777727.0,591453.0
total_tests_per_thousand,None,None,256.103,None,2518.682,None,None,170.533,237.298,384.283,...,None,None,None,None,51.815,None,None,None,96.7,39.794
new_tests_per_thousand,None,None,0.773,None,None,None,None,None,0.823,1.287,...,None,None,None,None,0.61,None,None,None,0.346,0.238
new_tests_smoothed,None,None,2643.0,None,180.0,None,None,None,33029.0,3405.0,...,None,None,None,None,65901.0,None,None,None,11410.0,2459.0
new_tests_smoothed_per_thousand,None,None,0.918,None,2.33,None,None,None,0.731,1.149,...,None,None,None,None,0.677,None,None,None,0.621,0.165
positive_rate,None,None,0.004,None,0.044,None,None,None,0.246,0.023,...,None,None,None,None,0.005,None,None,None,0.219,0.083
tests_per_case,None,None,231.3,None,22.9,None,None,None,4.1,44.1,...,None,None,None,None,213.7,None,None,None,4.6,12.0
tests_units,None,None,tests performed,None,people tested,None,None,tests performed,tests performed,tests performed,...,None,None,None,None,samples tested,None,None,None,tests performed,tests performed
total_vaccinations,765890.0,46790059.0,901429.0,None,63265.0,1380174.0,15198.0,62809.0,18646784.0,55557.0,...,2695058.0,7462.0,None,1302992.0,2626337.0,8834.0,2789178281.0,251385.0,148304.0,1146378.0
people_vaccinated,582128.0,33235073.0,525800.0,None,38667.0,866381.0,9183.0,35768.0,14886910.0,None,...,1623764.0,7462.0,None,1079134.0,2488655.0,4532.0,1742045819.0,251385.0,142089.0,706158.0
people_fully_vaccinated,183762.0,13922037.0,375629.0,None,24598.0,513793.0,6015.0,27041.0,3759874.0,None,...,1002919.0,None,None,223858.0,137682.0,4302.0,797635144.0,None,6215.0,440220.0
new_vaccinations,None,215283.0,11377.0,None,None,None,None,None,266109.0,None,...,None,None,None,None,57181.0,None,38315882.0,None,None,5526.0
new_vaccinations_smoothed,12986.0,365102.0,7571.0,None,1737.0,14642.0,37.0,542.0,252881.0,1132.0,...,39902.0,419.0,None,80433.0,121863.0,27.0,40789011.0,3252.0,91.0,4700.0
total_vaccinations_per_hundred,1.97,3.49,31.32,None,81.88,4.2,101.31,64.14,41.26,1.87,...,8.05,2.43,None,4.58,2.7,78.55,35.78,0.84,0.81,7.71
people_vaccinated_per_hundred,1.5,2.48,18.27,None,50.04,2.64,61.21,36.52,32.94,None,...,4.85,2.43,None,3.79,2.56,40.3,22.35,0.84,0.77,4.75
people_fully_vaccinated_per_hundred,0.47,1.04,13.05,None,31.84,1.56,40.09,27.61,8.32,None,...,3.0,None,None,0.79,0.14,38.25,10.23,None,0.03,2.96
new_vaccinations_smoothed_per_million,334.0,272.0,2631.0,None,22481.0,446.0,2466.0,5535.0,5595.0,382.0,...,1192.0,1364.0,None,2829.0,1252.0,2401.0,5233.0,109.0,5.0,316.0
stringency_index,43.52,None,None,None,None,41.67,None,None,77.78,None,...,41.67,22.22,None,None,77.31,None,None,39.81,60.19,67.59
population,38928341.0,1340598113.0,2877800.0,43851043.0,77265.0,32866268.0,15002.0,97928.0,45195777.0,2963234.0,...,33469199.0,307150.0,809.0,28435943.0,97338583.0,11246.0,7794798729.0,29825968.0,18383956.0,14862927.0
population_density,54.422,None,104.871,17.348,163.755,23.89,None,231.845,16.177,102.931,...,76.134,22.662,None,36.253,308.127,None,58.045,53.508,22.995,42.729
median_age,18.6,None,38.0,29.1,None,16.8,None,32.1,31.9,35.7,...,28.2,23.1,None,29.0,32.6,None,30.9,20.3,17.7,19.6
aged_65_older,2.581,None,13.188,6.211,None,2.405,None,6.933,11.198,11.232,...,4.469,4.394,None,6.614,7.15,None,8.696,2.922,2.48,2.822
aged_70_older,1.337,None,8.643,3.857,None,1.362,None,4.631,7.441,7.571,...,2.873,2.62,None,3.915,4.718,None,5.355,1.583,1.542,1.882
gdp_per_capita,1803.987,None,11803.431,13913.839,None,5819.495,None,21490.943,18933.907,8787.58,...,6253.104,2921.909,None,16745.022,6171.884,None,15469.207,1479.147,3689.251,1899.775
extreme_poverty,None,None,1.1,0.5,None,None,None,None,0.6,1.8,...,None,13.2,None,None,2.0,None,10.0,18.8,57.5,21.4
cardiovasc_death_rate,597.029,None,304.195,278.364,109.135,276.045,None,191.511,191.032,341.01,...,724.417,546.3,None,204.85,245.465,None,233.07,495.003,234.499,307.846
diabetes_prevalence,9.59,None,10.08,6.73,7.97,3.94,None,13.17,5.5,7.11,...,7.57,12.02,None,6.47,6.0,None,8.51,5.35,3.94,1.82
female_smokers,None,None,7.1,0.7,29.0,None,None,None,16.2,1.5,...,1.3,2.8,None,None,1.0,None,6.434,7.6,3.1,1.6
male_smokers,None,None,51.2,30.4,37.8,None,None,None,27.7,52.1,...,24.7,34.5,None,None,45.9,None,34.635,29.2,24.7,30.7
handwashing_facilities,37.746,None,None,83.741,None,26.664,None,None,None,94.043,...,None,25.209,None,None,85.847,None,60.13,49.542,13.938,36.791
hospital_beds_per_thousand,0.5,None,2.89,1.9,None,None,None,3.8,5.0,4.2,...,4.0,None,None,0.8,2.6,None,2.705,0.7,2.0,1.7
life_expectancy,64.83,None,78.57,76.88,83.73,61.15,81.88,77.02,76.67,75.09,...,71.72,70.47,75.12,72.06,75.4,79.94,72.58,66.12,63.89,61.49
human_development_index,0.511,None,0.795,0.748,0.868,0.581,None,0.778,0.845,0.776,...,0.72,0.609,None,0.711,0.704,None,0.737,0.47,0.584,0.571
excess_mortality,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [23]:
covid = pd.read_json("/DSCA/Data Analysis with Pandas/owid-covid-latest.json", orient="index")
covid

,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
AFG,Asia,Afghanistan,2021-06-23,107957.0,2208.0,2095.571,4366.0,73.0,97.571,2773.224,...,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511,NaN
OWID_AFR,None,Africa,2021-06-23,5281109.0,32962.0,25352.000,139105.0,516.0,458.857,3939.368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB,Europe,Albania,2021-06-23,132497.0,1.0,3.000,2455.0,0.0,0.143,46041.073,...,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795,NaN
DZA,Africa,Algeria,2021-06-23,137049.0,370.0,370.143,3660.0,10.0,8.857,3125.330,...,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748,NaN
AND,Europe,Andorra,2021-06-23,13873.0,9.0,5.286,127.0,0.0,0.000,179550.896,...,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WLF,Oceania,Wallis and Futuna,2021-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN,NaN
OWID_WRL,None,World,2021-06-23,179595550.0,437255.0,364715.286,3891758.0,9521.0,8382.429,23040.435,...,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737,NaN
YEM,Asia,Yemen,2021-06-23,6898.0,6.0,4.429,1355.0,0.0,0.571,231.275,...,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470,NaN
ZMB,Africa,Zambia,2021-06-23,137026.0,3367.0,2596.571,1794.0,50.0,43.143,7453.564,...,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584,NaN
ZWE,Africa,Zimbabwe,2021-06-23,43480.0,766.0,417.714,1692.0,1.0,7.429,2925.400,...,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571,NaN

In [24]:
youtube_categories = pd.read_json("/DSCA/Data Analysis with Pandas/category.json", orient="columns")
youtube_categories

,kind,etag,items
0,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'grP..."
1,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'Q0x..."
2,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'qnp..."
3,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'HyF..."
4,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'PNU..."
5,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': '5kF..."
6,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'ANn..."
7,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': '0Hh..."
8,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'q8C..."
9,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'cHD..."
10,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': '3Uz..."
11,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': '0sr..."
12,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'bQl..."
13,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'Y06..."
14,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'yBa..."
15,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'Mxy..."
16,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': '4pI..."
17,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'Iqo..."
18,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'tzh..."
19,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'ii8..."
20,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'Y0u..."
21,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': '_YD..."
22,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'eAl..."
23,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'HDA..."
24,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'QHi..."
25,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'ztK..."
26,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'Ids..."
27,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'qhf..."
28,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'TxV..."
29,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'o9w..."
30,youtube#videoCategoryListResponse,_S1MAxBhP9n7eQUvtH1duuWAwbw,"{'kind': 'youtube#videoCategory', 'etag': 'mLd..."

In [25]:
vaksinasi = pd.read_json("/DSCA/Data Analysis with Pandas/vaccinations.json", orient="values")
vaksinasi

,country,iso_code,data
0,Afghanistan,AFG,"[{'date': '2021-02-22', 'total_vaccinations': ..."
1,Africa,OWID_AFR,"[{'date': '2021-01-09', 'total_vaccinations': ..."
2,Albania,ALB,"[{'date': '2021-01-10', 'total_vaccinations': ..."
3,Algeria,DZA,"[{'date': '2021-01-29', 'total_vaccinations': ..."
4,Andorra,AND,"[{'date': '2021-01-25', 'total_vaccinations': ..."
...,...,...,...
230,Wallis and Futuna,WLF,"[{'date': '2021-03-23', 'total_vaccinations': ..."
231,World,OWID_WRL,"[{'date': '2020-12-01', 'total_vaccinations': ..."
232,Yemen,YEM,"[{'date': '2021-05-09', 'total_vaccinations': ..."
233,Zambia,ZMB,"[{'date': '2021-04-14', 'total_vaccinations': ..."
234,Zimbabwe,ZWE,"[{'date': '2021-02-18', 'total_vaccinations': ..."

**EXCEL**

KUIS

In [26]:
kuis_excel = pd.read_excel("/DSCA/Data Analysis with Pandas/whs2021_annex2_20210519.xlsx", sheet_name="Footnotes", index_col=0, header=None)
kuis_excel

                                                    1
0
a   World population prospects: 2019 revision. New...
b   Global health estimates 2019: Life expectancy,...
c   WHO Member States with a population of less th...
d   Trends in maternal mortality: 2000 to 2017: es...
e   Joint WHO/UNICEF Interagency database 2021 of ...
..                                                ...
bj  Estimate based on survey data. Females 16 year...
bk  Coverage over 100% truncated to 99%. May indic...
bl        Oedema data was considered in the analysis.
bm   Survey data (subnational) indicate 80% coverage.
bn  For high-income countries with no information ...

[66 rows x 1 columns]

In [27]:
kuis_excel1 = pd.ExcelFile("/DSCA/Data Analysis with Pandas/whs2021_annex2_20210519.xlsx")
kuis_excel1

In [28]:
pd.ExcelFile.parse(kuis_excel1, sheet_name="Footnotes", header=None, usecols=[1])

                                                    1
0   World population prospects: 2019 revision. New...
1   Global health estimates 2019: Life expectancy,...
2   WHO Member States with a population of less th...
3   Trends in maternal mortality: 2000 to 2017: es...
4   Joint WHO/UNICEF Interagency database 2021 of ...
..                                                ...
61  Estimate based on survey data. Females 16 year...
62  Coverage over 100% truncated to 99%. May indic...
63        Oedema data was considered in the analysis.
64   Survey data (subnational) indicate 80% coverage.
65  For high-income countries with no information ...

[66 rows x 1 columns]

**PENANGANAN KETAKLENGKAPAN DATA**

In [29]:
df_this = pd.DataFrame([[1, 2, 3, "None"], [None, None, 10, 4]])
df_this

     0    1   2     3
0  1.0  2.0   3  None
1  NaN  NaN  10     4

In [30]:
df_this.isna()

       0      1      2      3
0  False  False  False  False
1   True   True  False  False

In [31]:
df_this.isnull()

       0      1      2      3
0  False  False  False  False
1   True   True  False  False

In [32]:
grade_score = pd.DataFrame({"grade": ["A", "B", "undefined", "E", "B"], "score": [91, "-", 75, np.nan, 84]})
print(grade_score)

print(grade_score.grade.unique())

       grade score
0          A    91
1          B     -
2  undefined    75
3          E   NaN
4          B    84
['A' 'B' 'undefined' 'E']

In [33]:
#bagaiaman cara merubah value undefined?

**INSPEKSI DATA HILANG**

In [34]:
covid.isna().sum()

continent                                  9
location                                   0
last_updated_date                          0
total_cases                               24
new_cases                                 24
new_cases_smoothed                        24
total_deaths                              31
new_deaths                                31
new_deaths_smoothed                       24
total_cases_per_million                   25
new_cases_per_million                     25
new_cases_smoothed_per_million            25
total_deaths_per_million                  32
new_deaths_per_million                    32
new_deaths_smoothed_per_million           25
reproduction_rate                         41
icu_patients                             204
icu_patients_per_million                 204
hosp_patients                            198
hosp_patients_per_million                198
weekly_icu_admissions                    212
weekly_icu_admissions_per_million        212
weekly_hosp_admissions                   205
weekly_hosp_admissions_per_million       205
new_tests                                120
total_tests                              112
total_tests_per_thousand                 112
new_tests_per_thousand                   120
new_tests_smoothed                       112
new_tests_smoothed_per_thousand          112
positive_rate                            114
tests_per_case                           114
tests_units                              105
total_vaccinations                        24
people_vaccinated                         27
people_fully_vaccinated                   43
new_vaccinations                          97
new_vaccinations_smoothed                 25
total_vaccinations_per_hundred            24
people_vaccinated_per_hundred             27
people_fully_vaccinated_per_hundred       43
new_vaccinations_smoothed_per_million     25
stringency_index                          73
population                                 1
population_density                        19
median_age                                35
aged_65_older                             37
aged_70_older                             36
gdp_per_capita                            32
extreme_poverty                           99
cardiovasc_death_rate                     36
diabetes_prevalence                       25
female_smokers                            79
male_smokers                              81
handwashing_facilities                   130
hospital_beds_per_thousand                55
life_expectancy                           12
human_development_index                   37
excess_mortality                         221
dtype: int64

In [35]:
(covid.isna().sum() / covid.shape[0]) * 100

continent                                 4.000000
location                                  0.000000
last_updated_date                         0.000000
total_cases                              10.666667
new_cases                                10.666667
new_cases_smoothed                       10.666667
total_deaths                             13.777778
new_deaths                               13.777778
new_deaths_smoothed                      10.666667
total_cases_per_million                  11.111111
new_cases_per_million                    11.111111
new_cases_smoothed_per_million           11.111111
total_deaths_per_million                 14.222222
new_deaths_per_million                   14.222222
new_deaths_smoothed_per_million          11.111111
reproduction_rate                        18.222222
icu_patients                             90.666667
icu_patients_per_million                 90.666667
hosp_patients                            88.000000
hosp_patients_per_million                88.000000
weekly_icu_admissions                    94.222222
weekly_icu_admissions_per_million        94.222222
weekly_hosp_admissions                   91.111111
weekly_hosp_admissions_per_million       91.111111
new_tests                                53.333333
total_tests                              49.777778
total_tests_per_thousand                 49.777778
new_tests_per_thousand                   53.333333
new_tests_smoothed                       49.777778
new_tests_smoothed_per_thousand          49.777778
positive_rate                            50.666667
tests_per_case                           50.666667
tests_units                              46.666667
total_vaccinations                       10.666667
people_vaccinated                        12.000000
people_fully_vaccinated                  19.111111
new_vaccinations                         43.111111
new_vaccinations_smoothed                11.111111
total_vaccinations_per_hundred           10.666667
people_vaccinated_per_hundred            12.000000
people_fully_vaccinated_per_hundred      19.111111
new_vaccinations_smoothed_per_million    11.111111
stringency_index                         32.444444
population                                0.444444
population_density                        8.444444
median_age                               15.555556
aged_65_older                            16.444444
aged_70_older                            16.000000
gdp_per_capita                           14.222222
extreme_poverty                          44.000000
cardiovasc_death_rate                    16.000000
diabetes_prevalence                      11.111111
female_smokers                           35.111111
male_smokers                             36.000000
handwashing_facilities                   57.777778
hospital_beds_per_thousand               24.444444
life_expectancy                           5.333333
human_development_index                  16.444444
excess_mortality                         98.222222
dtype: float64

KUIS

In [36]:
(covid.notna().sum(axis=0) / covid.shape[0]) * 100

continent                                 96.000000
location                                 100.000000
last_updated_date                        100.000000
total_cases                               89.333333
new_cases                                 89.333333
new_cases_smoothed                        89.333333
total_deaths                              86.222222
new_deaths                                86.222222
new_deaths_smoothed                       89.333333
total_cases_per_million                   88.888889
new_cases_per_million                     88.888889
new_cases_smoothed_per_million            88.888889
total_deaths_per_million                  85.777778
new_deaths_per_million                    85.777778
new_deaths_smoothed_per_million           88.888889
reproduction_rate                         81.777778
icu_patients                               9.333333
icu_patients_per_million                   9.333333
hosp_patients                             12.000000
hosp_patients_per_million                 12.000000
weekly_icu_admissions                      5.777778
weekly_icu_admissions_per_million          5.777778
weekly_hosp_admissions                     8.888889
weekly_hosp_admissions_per_million         8.888889
new_tests                                 46.666667
total_tests                               50.222222
total_tests_per_thousand                  50.222222
new_tests_per_thousand                    46.666667
new_tests_smoothed                        50.222222
new_tests_smoothed_per_thousand           50.222222
positive_rate                             49.333333
tests_per_case                            49.333333
tests_units                               53.333333
total_vaccinations                        89.333333
people_vaccinated                         88.000000
people_fully_vaccinated                   80.888889
new_vaccinations                          56.888889
new_vaccinations_smoothed                 88.888889
total_vaccinations_per_hundred            89.333333
people_vaccinated_per_hundred             88.000000
people_fully_vaccinated_per_hundred       80.888889
new_vaccinations_smoothed_per_million     88.888889
stringency_index                          67.555556
population                                99.555556
population_density                        91.555556
median_age                                84.444444
aged_65_older                             83.555556
aged_70_older                             84.000000
gdp_per_capita                            85.777778
extreme_poverty                           56.000000
cardiovasc_death_rate                     84.000000
diabetes_prevalence                       88.888889
female_smokers                            64.888889
male_smokers                              64.000000
handwashing_facilities                    42.222222
hospital_beds_per_thousand                75.555556
life_expectancy                           94.666667
human_development_index                   83.555556
excess_mortality                           1.777778
dtype: float64

In [37]:
(covid.notna().sum(axis=1) / covid.shape[1]) * 100

AFG         62.711864
OWID_AFR    40.677966
ALB         81.355932
DZA         52.542373
AND         66.101695
              ...
WLF         22.033898
OWID_WRL    66.101695
YEM         64.406780
ZMB         83.050847
ZWE         84.745763
Length: 225, dtype: float64

**PENYARINGAN DATA**

In [38]:
print(covid[covid.isna()])

         continent location last_updated_date  total_cases  new_cases  \
AFG            NaN      NaN               NaN          NaN        NaN
OWID_AFR       NaN      NaN               NaN          NaN        NaN
ALB            NaN      NaN               NaN          NaN        NaN
DZA            NaN      NaN               NaN          NaN        NaN
AND            NaN      NaN               NaN          NaN        NaN
...            ...      ...               ...          ...        ...
WLF            NaN      NaN               NaN          NaN        NaN
OWID_WRL       NaN      NaN               NaN          NaN        NaN
YEM            NaN      NaN               NaN          NaN        NaN
ZMB            NaN      NaN               NaN          NaN        NaN
ZWE            NaN      NaN               NaN          NaN        NaN

          new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
AFG                      NaN           NaN         NaN                  NaN
OWID_AFR                 NaN           NaN         NaN                  NaN
ALB                      NaN           NaN         NaN                  NaN
DZA                      NaN           NaN         NaN                  NaN
AND                      NaN           NaN         NaN                  NaN
...                      ...           ...         ...                  ...
WLF                      NaN           NaN         NaN                  NaN
OWID_WRL                 NaN           NaN         NaN                  NaN
YEM                      NaN           NaN         NaN                  NaN
ZMB                      NaN           NaN         NaN                  NaN
ZWE                      NaN           NaN         NaN                  NaN

          total_cases_per_million  ...  extreme_poverty  \
AFG                           NaN  ...              NaN
OWID_AFR                      NaN  ...              NaN
ALB                           NaN  ...              NaN
DZA                           NaN  ...              NaN
AND                           NaN  ...              NaN
...                           ...  ...              ...
WLF                           NaN  ...              NaN
OWID_WRL                      NaN  ...              NaN
YEM                           NaN  ...              NaN
ZMB                           NaN  ...              NaN
ZWE                           NaN  ...              NaN

          cardiovasc_death_rate  diabetes_prevalence  female_smokers  \
AFG                         NaN                  NaN             NaN
OWID_AFR                    NaN                  NaN             NaN
ALB                         NaN                  NaN             NaN
DZA                         NaN                  NaN             NaN
AND                         NaN                  NaN             NaN
...                         ...                  ...             ...
WLF                         NaN                  NaN             NaN
OWID_WRL                    NaN                  NaN             NaN
YEM                         NaN                  NaN             NaN
ZMB                         NaN                  NaN             NaN
ZWE                         NaN                  NaN             NaN

          male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
AFG                NaN                     NaN                         NaN
OWID_AFR           NaN                     NaN                         NaN
ALB                NaN                     NaN                         NaN
DZA                NaN                     NaN                         NaN
AND                NaN                     NaN                         NaN
...                ...                     ...                         ...
WLF                NaN                     NaN                         NaN
OWID_WRL           NaN                     NaN                         NaN
YEM                NaN                     NaN                         NaN
ZMB                NaN                     NaN                         NaN
ZWE                NaN                     NaN                         NaN

          life_expectancy  human_development_index  excess_mortality
AFG                   NaN                      NaN               NaN
OWID_AFR              NaN                      NaN               NaN
ALB                   NaN                      NaN               NaN
DZA                   NaN                      NaN               NaN
AND                   NaN                      NaN               NaN
...                   ...                      ...               ...
WLF                   NaN                      NaN               NaN
OWID_WRL              NaN                      NaN               NaN
YEM                   NaN                      NaN               NaN
ZMB                   NaN                      NaN               NaN
ZWE                   NaN                      NaN               NaN

[225 rows x 59 columns]

**MENGHAPUS NILAI YANG HILANG**

In [39]:
col_percent_missing = covid.isna().sum() / covid.shape[0]
covid.loc[:, col_percent_missing <= .7]

,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
AFG,Asia,Afghanistan,2021-06-23,107957.0,2208.0,2095.571,4366.0,73.0,97.571,2773.224,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511
OWID_AFR,None,Africa,2021-06-23,5281109.0,32962.0,25352.000,139105.0,516.0,458.857,3939.368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB,Europe,Albania,2021-06-23,132497.0,1.0,3.000,2455.0,0.0,0.143,46041.073,...,11803.431,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795
DZA,Africa,Algeria,2021-06-23,137049.0,370.0,370.143,3660.0,10.0,8.857,3125.330,...,13913.839,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748
AND,Europe,Andorra,2021-06-23,13873.0,9.0,5.286,127.0,0.0,0.000,179550.896,...,NaN,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WLF,Oceania,Wallis and Futuna,2021-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN
OWID_WRL,None,World,2021-06-23,179595550.0,437255.0,364715.286,3891758.0,9521.0,8382.429,23040.435,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737
YEM,Asia,Yemen,2021-06-23,6898.0,6.0,4.429,1355.0,0.0,0.571,231.275,...,1479.147,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470
ZMB,Africa,Zambia,2021-06-23,137026.0,3367.0,2596.571,1794.0,50.0,43.143,7453.564,...,3689.251,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584
ZWE,Africa,Zimbabwe,2021-06-23,43480.0,766.0,417.714,1692.0,1.0,7.429,2925.400,...,1899.775,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571

In [40]:
covid.loc[:, col_percent_missing >= .7]

,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,excess_mortality
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OWID_AFR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DZA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
WLF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OWID_WRL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

KUIS

In [41]:
covid

,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
AFG,Asia,Afghanistan,2021-06-23,107957.0,2208.0,2095.571,4366.0,73.0,97.571,2773.224,...,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511,NaN
OWID_AFR,None,Africa,2021-06-23,5281109.0,32962.0,25352.000,139105.0,516.0,458.857,3939.368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB,Europe,Albania,2021-06-23,132497.0,1.0,3.000,2455.0,0.0,0.143,46041.073,...,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795,NaN
DZA,Africa,Algeria,2021-06-23,137049.0,370.0,370.143,3660.0,10.0,8.857,3125.330,...,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748,NaN
AND,Europe,Andorra,2021-06-23,13873.0,9.0,5.286,127.0,0.0,0.000,179550.896,...,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WLF,Oceania,Wallis and Futuna,2021-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN,NaN
OWID_WRL,None,World,2021-06-23,179595550.0,437255.0,364715.286,3891758.0,9521.0,8382.429,23040.435,...,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737,NaN
YEM,Asia,Yemen,2021-06-23,6898.0,6.0,4.429,1355.0,0.0,0.571,231.275,...,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470,NaN
ZMB,Africa,Zambia,2021-06-23,137026.0,3367.0,2596.571,1794.0,50.0,43.143,7453.564,...,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584,NaN
ZWE,Africa,Zimbabwe,2021-06-23,43480.0,766.0,417.714,1692.0,1.0,7.429,2925.400,...,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571,NaN

In [42]:
covid["female_smokers"].isna()

AFG          True
OWID_AFR     True
ALB         False
DZA         False
AND         False
            ...
WLF          True
OWID_WRL    False
YEM         False
ZMB         False
ZWE         False
Name: female_smokers, Length: 225, dtype: bool

In [43]:
no_female_male_smokers = covid.loc[(covid["female_smokers"].isna() == True) & (covid["male_smokers"].isna() == True)]
no_female_male_smokers

,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
AFG,Asia,Afghanistan,2021-06-23,107957.0,2208.0,2095.571,4366.0,73.0,97.571,2773.224,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
OWID_AFR,None,Africa,2021-06-23,5281109.0,32962.0,25352.000,139105.0,516.0,458.857,3939.368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGO,Africa,Angola,2021-06-23,38002.0,128.0,129.714,878.0,3.0,4.429,1156.261,...,NaN,276.045,3.94,NaN,NaN,26.664,NaN,61.15,0.581,NaN
AIA,North America,Anguilla,2021-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN,NaN
ATG,North America,Antigua and Barbuda,2021-06-23,1263.0,0.0,0.000,42.0,0.0,0.000,12897.231,...,NaN,191.511,13.17,NaN,NaN,NaN,3.8,77.02,0.778,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCA,North America,Turks and Caicos Islands,2021-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.22,NaN,NaN
TUV,Oceania,Tuvalu,2021-06-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.3,NaN,27.25,NaN,NaN,NaN,NaN,67.57,NaN,NaN
VAT,Europe,Vatican,2021-06-23,27.0,0.0,0.000,NaN,NaN,0.000,33374.536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.12,NaN,NaN
VEN,South America,Venezuela,2021-06-23,263372.0,0.0,1130.714,2989.0,0.0,14.714,9261.940,...,NaN,204.850,6.47,NaN,NaN,NaN,0.8,72.06,0.711,NaN
WLF,Oceania,Wallis and Futuna,2021-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN,NaN

In [44]:
testing_this = covid[covid["female_smokers"].isna() & covid["male_smokers"].isna()]
testing_this

,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
AFG,Asia,Afghanistan,2021-06-23,107957.0,2208.0,2095.571,4366.0,73.0,97.571,2773.224,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
OWID_AFR,None,Africa,2021-06-23,5281109.0,32962.0,25352.000,139105.0,516.0,458.857,3939.368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGO,Africa,Angola,2021-06-23,38002.0,128.0,129.714,878.0,3.0,4.429,1156.261,...,NaN,276.045,3.94,NaN,NaN,26.664,NaN,61.15,0.581,NaN
AIA,North America,Anguilla,2021-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN,NaN
ATG,North America,Antigua and Barbuda,2021-06-23,1263.0,0.0,0.000,42.0,0.0,0.000,12897.231,...,NaN,191.511,13.17,NaN,NaN,NaN,3.8,77.02,0.778,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCA,North America,Turks and Caicos Islands,2021-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.22,NaN,NaN
TUV,Oceania,Tuvalu,2021-06-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.3,NaN,27.25,NaN,NaN,NaN,NaN,67.57,NaN,NaN
VAT,Europe,Vatican,2021-06-23,27.0,0.0,0.000,NaN,NaN,0.000,33374.536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.12,NaN,NaN
VEN,South America,Venezuela,2021-06-23,263372.0,0.0,1130.714,2989.0,0.0,14.714,9261.940,...,NaN,204.850,6.47,NaN,NaN,NaN,0.8,72.06,0.711,NaN
WLF,Oceania,Wallis and Futuna,2021-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN,NaN

In [45]:
col_percent_non_missing = covid.notna().sum() / covid.shape[0]
covid.loc[:, col_percent_non_missing >= .8]

,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,life_expectancy,human_development_index
AFG,Asia,Afghanistan,2021-06-23,107957.0,2208.0,2095.571,4366.0,73.0,97.571,2773.224,...,3.892834e+07,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511
OWID_AFR,None,Africa,2021-06-23,5281109.0,32962.0,25352.000,139105.0,516.0,458.857,3939.368,...,1.340598e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB,Europe,Albania,2021-06-23,132497.0,1.0,3.000,2455.0,0.0,0.143,46041.073,...,2.877800e+06,104.871,38.0,13.188,8.643,11803.431,304.195,10.08,78.57,0.795
DZA,Africa,Algeria,2021-06-23,137049.0,370.0,370.143,3660.0,10.0,8.857,3125.330,...,4.385104e+07,17.348,29.1,6.211,3.857,13913.839,278.364,6.73,76.88,0.748
AND,Europe,Andorra,2021-06-23,13873.0,9.0,5.286,127.0,0.0,0.000,179550.896,...,7.726500e+04,163.755,NaN,NaN,NaN,NaN,109.135,7.97,83.73,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WLF,Oceania,Wallis and Futuna,2021-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.124600e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN
OWID_WRL,None,World,2021-06-23,179595550.0,437255.0,364715.286,3891758.0,9521.0,8382.429,23040.435,...,7.794799e+09,58.045,30.9,8.696,5.355,15469.207,233.070,8.51,72.58,0.737
YEM,Asia,Yemen,2021-06-23,6898.0,6.0,4.429,1355.0,0.0,0.571,231.275,...,2.982597e+07,53.508,20.3,2.922,1.583,1479.147,495.003,5.35,66.12,0.470
ZMB,Africa,Zambia,2021-06-23,137026.0,3367.0,2596.571,1794.0,50.0,43.143,7453.564,...,1.838396e+07,22.995,17.7,2.480,1.542,3689.251,234.499,3.94,63.89,0.584
ZWE,Africa,Zimbabwe,2021-06-23,43480.0,766.0,417.714,1692.0,1.0,7.429,2925.400,...,1.486293e+07,42.729,19.6,2.822,1.882,1899.775,307.846,1.82,61.49,0.571

In [46]:
col_percent_non_missing

continent                                0.960000
location                                 1.000000
last_updated_date                        1.000000
total_cases                              0.893333
new_cases                                0.893333
new_cases_smoothed                       0.893333
total_deaths                             0.862222
new_deaths                               0.862222
new_deaths_smoothed                      0.893333
total_cases_per_million                  0.888889
new_cases_per_million                    0.888889
new_cases_smoothed_per_million           0.888889
total_deaths_per_million                 0.857778
new_deaths_per_million                   0.857778
new_deaths_smoothed_per_million          0.888889
reproduction_rate                        0.817778
icu_patients                             0.093333
icu_patients_per_million                 0.093333
hosp_patients                            0.120000
hosp_patients_per_million                0.120000
weekly_icu_admissions                    0.057778
weekly_icu_admissions_per_million        0.057778
weekly_hosp_admissions                   0.088889
weekly_hosp_admissions_per_million       0.088889
new_tests                                0.466667
total_tests                              0.502222
total_tests_per_thousand                 0.502222
new_tests_per_thousand                   0.466667
new_tests_smoothed                       0.502222
new_tests_smoothed_per_thousand          0.502222
positive_rate                            0.493333
tests_per_case                           0.493333
tests_units                              0.533333
total_vaccinations                       0.893333
people_vaccinated                        0.880000
people_fully_vaccinated                  0.808889
new_vaccinations                         0.568889
new_vaccinations_smoothed                0.888889
total_vaccinations_per_hundred           0.893333
people_vaccinated_per_hundred            0.880000
people_fully_vaccinated_per_hundred      0.808889
new_vaccinations_smoothed_per_million    0.888889
stringency_index                         0.675556
population                               0.995556
population_density                       0.915556
median_age                               0.844444
aged_65_older                            0.835556
aged_70_older                            0.840000
gdp_per_capita                           0.857778
extreme_poverty                          0.560000
cardiovasc_death_rate                    0.840000
diabetes_prevalence                      0.888889
female_smokers                           0.648889
male_smokers                             0.640000
handwashing_facilities                   0.422222
hospital_beds_per_thousand               0.755556
life_expectancy                          0.946667
human_development_index                  0.835556
excess_mortality                         0.017778
dtype: float64

In [47]:
covid.dropna(subset=["female_smokers", "male_smokers"], how="all")

,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
ALB,Europe,Albania,2021-06-23,132497.0,1.0,3.000,2455.0,0.0,0.143,46041.073,...,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795,NaN
DZA,Africa,Algeria,2021-06-23,137049.0,370.0,370.143,3660.0,10.0,8.857,3125.330,...,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748,NaN
AND,Europe,Andorra,2021-06-23,13873.0,9.0,5.286,127.0,0.0,0.000,179550.896,...,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868,NaN
ARG,South America,Argentina,2021-06-23,4326101.0,27319.0,18211.571,90986.0,705.0,532.143,95719.142,...,0.6,191.032,5.50,16.200,27.700,NaN,5.000,76.67,0.845,NaN
ARM,Asia,Armenia,2021-06-23,224430.0,100.0,75.143,4503.0,1.0,1.857,75738.197,...,1.8,341.010,7.11,1.500,52.100,94.043,4.200,75.09,0.776,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM,Asia,Vietnam,2021-06-23,13989.0,207.0,313.571,70.0,1.0,1.286,143.715,...,2.0,245.465,6.00,1.000,45.900,85.847,2.600,75.40,0.704,NaN
OWID_WRL,None,World,2021-06-23,179595550.0,437255.0,364715.286,3891758.0,9521.0,8382.429,23040.435,...,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737,NaN
YEM,Asia,Yemen,2021-06-23,6898.0,6.0,4.429,1355.0,0.0,0.571,231.275,...,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470,NaN
ZMB,Africa,Zambia,2021-06-23,137026.0,3367.0,2596.571,1794.0,50.0,43.143,7453.564,...,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584,NaN
ZWE,Africa,Zimbabwe,2021-06-23,43480.0,766.0,417.714,1692.0,1.0,7.429,2925.400,...,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571,NaN

**MENGISI NILAI YANG HILANG**

In [48]:
print(covid.handwashing_facilities.fillna(np.mean(covid.handwashing_facilities)))
print(covid.fillna(
    {"handwashing_facilities": covid.handwashing_facilities.mean(), "life_expectancy": covid.life_expectancy.median()}
)[["handwashing_facilities", "life_expectancy"]])

AFG         37.746000
OWID_AFR    50.270832
ALB         50.270832
DZA         83.741000
AND         50.270832
              ...
WLF         50.270832
OWID_WRL    60.130000
YEM         49.542000
ZMB         13.938000
ZWE         36.791000
Name: handwashing_facilities, Length: 225, dtype: float64
          handwashing_facilities  life_expectancy
AFG                    37.746000            64.83
OWID_AFR               50.270832            74.62
ALB                    50.270832            78.57
DZA                    83.741000            76.88
AND                    50.270832            83.73
...                          ...              ...
WLF                    50.270832            79.94
OWID_WRL               60.130000            72.58
YEM                    49.542000            66.12
ZMB                    13.938000            63.89
ZWE                    36.791000            61.49

[225 rows x 2 columns]

In [49]:
#kenapa harus ada [[]]?

In [50]:
covid.handwashing_facilities.interpolate()

AFG         37.746000
OWID_AFR    53.077667
ALB         68.409333
DZA         83.741000
AND         55.202500
              ...
WLF         72.988500
OWID_WRL    60.130000
YEM         49.542000
ZMB         13.938000
ZWE         36.791000
Name: handwashing_facilities, Length: 225, dtype: float64

**PEMROSESAN DERET WAKTU DALAM PANDAS**

**Deret Waktu dalam Pandas**

In [51]:
print(pd.to_datetime("2021-08-17"))
print(pd.to_datetime("17 August 2021"))

2021-08-17 00:00:00
2021-08-17 00:00:00

In [52]:
pd.date_range("2021 August 1", "2021 August 31")

DatetimeIndex(['2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04',
               '2021-08-05', '2021-08-06', '2021-08-07', '2021-08-08',
               '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12',
               '2021-08-13', '2021-08-14', '2021-08-15', '2021-08-16',
               '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-20',
               '2021-08-21', '2021-08-22', '2021-08-23', '2021-08-24',
               '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-28',
               '2021-08-29', '2021-08-30', '2021-08-31'],
              dtype='datetime64[ns]', freq='D')

In [53]:
pd.date_range("2021 August 1", periods=40, freq="D")

DatetimeIndex(['2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04',
               '2021-08-05', '2021-08-06', '2021-08-07', '2021-08-08',
               '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12',
               '2021-08-13', '2021-08-14', '2021-08-15', '2021-08-16',
               '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-20',
               '2021-08-21', '2021-08-22', '2021-08-23', '2021-08-24',
               '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-28',
               '2021-08-29', '2021-08-30', '2021-08-31', '2021-09-01',
               '2021-09-02', '2021-09-03', '2021-09-04', '2021-09-05',
               '2021-09-06', '2021-09-07', '2021-09-08', '2021-09-09'],
              dtype='datetime64[ns]', freq='D')

In [54]:
dt_naive = pd.date_range("2021 August 1", periods=24, freq="2H")
dt_aware = pd.date_range("2021 August 1", periods=24, freq="2H", tz="Asia/Jakarta")

print(dt_aware)
print(dt_aware.tz_convert("UTC"))
print(dt_naive.tz_localize("UTC").tz_convert("Asia/Jakarta"))

DatetimeIndex(['2021-08-01 00:00:00+07:00', '2021-08-01 02:00:00+07:00',
               '2021-08-01 04:00:00+07:00', '2021-08-01 06:00:00+07:00',
               '2021-08-01 08:00:00+07:00', '2021-08-01 10:00:00+07:00',
               '2021-08-01 12:00:00+07:00', '2021-08-01 14:00:00+07:00',
               '2021-08-01 16:00:00+07:00', '2021-08-01 18:00:00+07:00',
               '2021-08-01 20:00:00+07:00', '2021-08-01 22:00:00+07:00',
               '2021-08-02 00:00:00+07:00', '2021-08-02 02:00:00+07:00',
               '2021-08-02 04:00:00+07:00', '2021-08-02 06:00:00+07:00',
               '2021-08-02 08:00:00+07:00', '2021-08-02 10:00:00+07:00',
               '2021-08-02 12:00:00+07:00', '2021-08-02 14:00:00+07:00',
               '2021-08-02 16:00:00+07:00', '2021-08-02 18:00:00+07:00',
               '2021-08-02 20:00:00+07:00', '2021-08-02 22:00:00+07:00'],
              dtype='datetime64[ns, Asia/Jakarta]', freq='2H')
DatetimeIndex(['2021-07-31 17:00:00+00:00', '2021-07-31 19:00:00+00:00',
               '2021-07-31 21:00:00+00:00', '2021-07-31 23:00:00+00:00',
               '2021-08-01 01:00:00+00:00', '2021-08-01 03:00:00+00:00',
               '2021-08-01 05:00:00+00:00', '2021-08-01 07:00:00+00:00',
               '2021-08-01 09:00:00+00:00', '2021-08-01 11:00:00+00:00',
               '2021-08-01 13:00:00+00:00', '2021-08-01 15:00:00+00:00',
               '2021-08-01 17:00:00+00:00', '2021-08-01 19:00:00+00:00',
               '2021-08-01 21:00:00+00:00', '2021-08-01 23:00:00+00:00',
               '2021-08-02 01:00:00+00:00', '2021-08-02 03:00:00+00:00',
               '2021-08-02 05:00:00+00:00', '2021-08-02 07:00:00+00:00',
               '2021-08-02 09:00:00+00:00', '2021-08-02 11:00:00+00:00',
               '2021-08-02 13:00:00+00:00', '2021-08-02 15:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='2H')
DatetimeIndex(['2021-08-01 07:00:00+07:00', '2021-08-01 09:00:00+07:00',
               '2021-08-01 11:00:00+07:00', '2021-08-01 13:00:00+07:00',
               '2021-08-01 15:00:00+07:00', '2021-08-01 17:00:00+07:00',
               '2021-08-01 19:00:00+07:00', '2021-08-01 21:00:00+07:00',
               '2021-08-01 23:00:00+07:00', '2021-08-02 01:00:00+07:00',
               '2021-08-02 03:00:00+07:00', '2021-08-02 05:00:00+07:00',
               '2021-08-02 07:00:00+07:00', '2021-08-02 09:00:00+07:00',
               '2021-08-02 11:00:00+07:00', '2021-08-02 13:00:00+07:00',
               '2021-08-02 15:00:00+07:00', '2021-08-02 17:00:00+07:00',
               '2021-08-02 19:00:00+07:00', '2021-08-02 21:00:00+07:00',
               '2021-08-02 23:00:00+07:00', '2021-08-03 01:00:00+07:00',
               '2021-08-03 03:00:00+07:00', '2021-08-03 05:00:00+07:00'],
              dtype='datetime64[ns, Asia/Jakarta]', freq='2H')

**Pengindeksan Deret Waktu**

In [55]:
covid.last_updated_date

AFG         2021-06-23
OWID_AFR    2021-06-23
ALB         2021-06-23
DZA         2021-06-23
AND         2021-06-23
               ...
WLF         2021-06-21
OWID_WRL    2021-06-23
YEM         2021-06-23
ZMB         2021-06-23
ZWE         2021-06-23
Name: last_updated_date, Length: 225, dtype: object

**Komponen Waktu dan Tanggal**

In [60]:
covid["last_updated_date"] = pd.to_datetime(covid["last_updated_date"])

In [62]:
covid["last_updated_date"].dt.day_name()

AFG         Wednesday
OWID_AFR    Wednesday
ALB         Wednesday
DZA         Wednesday
AND         Wednesday
              ...
WLF            Monday
OWID_WRL    Wednesday
YEM         Wednesday
ZMB         Wednesday
ZWE         Wednesday
Name: last_updated_date, Length: 225, dtype: object

In [63]:
print(covid.last_updated_date)

AFG        2021-06-23
OWID_AFR   2021-06-23
ALB        2021-06-23
DZA        2021-06-23
AND        2021-06-23
              ...
WLF        2021-06-21
OWID_WRL   2021-06-23
YEM        2021-06-23
ZMB        2021-06-23
ZWE        2021-06-23
Name: last_updated_date, Length: 225, dtype: datetime64[ns]

In [64]:
covid.last_updated_date.dt.month

AFG         6
OWID_AFR    6
ALB         6
DZA         6
AND         6
           ..
WLF         6
OWID_WRL    6
YEM         6
ZMB         6
ZWE         6
Name: last_updated_date, Length: 225, dtype: int64

KUIS

In [65]:
all_last_update = covid.last_updated_date.values
all_last_update

array(['2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-18T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-14T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-18T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-22T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-21T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-22T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-21T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-21T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-22T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-16T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-18T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-21T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-21T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-21T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-18T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-21T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-18T00:00:00.000000000',
       '2021-06-15T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-21T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000'], dtype='datetime64[ns]')

In [66]:
max_last_update = np.max(all_last_update)
max_last_update

numpy.datetime64('2021-06-23T00:00:00.000000000')

In [67]:
data_not_updated = covid[covid["last_updated_date"] < max_last_update]
data_not_updated

,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
AIA,North America,Anguilla,2021-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN,NaN
BMU,North America,Bermuda,2021-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,139.547,13.00,NaN,NaN,NaN,NaN,82.59,NaN,NaN
VGB,North America,British Virgin Islands,2021-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.67,NaN,NaN,NaN,NaN,79.07,NaN,NaN
CYM,North America,Cayman Islands,2021-06-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN,NaN
COK,Oceania,Cook Islands,2021-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.25,NaN,NaN
FRO,Europe,Faeroe Islands,2021-06-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.67,NaN,NaN
PYF,Oceania,French Polynesia,2021-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,22.63,NaN,NaN,NaN,NaN,77.66,NaN,NaN
GIB,Europe,Gibraltar,2021-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.93,NaN,NaN
GGY,Europe,Guernsey,2021-06-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JEY,Europe,Jersey,2021-06-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MSR,North America,Montserrat,2021-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.16,NaN,NaN
NRU,Oceania,Nauru,2021-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,24.07,43.0,36.9,NaN,5.0,59.96,NaN,NaN
NCL,Oceania,New Caledonia,2021-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,23.36,NaN,NaN,NaN,NaN,77.55,NaN,NaN
PCN,Oceania,Pitcairn,2021-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SXM,North America,Sint Maarten (Dutch part),2021-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.95,NaN,NaN
TON,Oceania,Tonga,2021-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,227.490,15.42,11.8,44.4,NaN,2.6,70.91,0.725,NaN
TCA,North America,Turks and Caicos Islands,2021-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.22,NaN,NaN
TUV,Oceania,Tuvalu,2021-06-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.3,NaN,27.25,NaN,NaN,NaN,NaN,67.57,NaN,NaN
WLF,Oceania,Wallis and Futuna,2021-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN,NaN

In [68]:
data_updated_after_20_july = covid[covid["last_updated_date"] > "2021-06-20"]
data_updated_after_20_july

,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
AFG,Asia,Afghanistan,2021-06-23,107957.0,2208.0,2095.571,4366.0,73.0,97.571,2773.224,...,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511,NaN
OWID_AFR,None,Africa,2021-06-23,5281109.0,32962.0,25352.000,139105.0,516.0,458.857,3939.368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB,Europe,Albania,2021-06-23,132497.0,1.0,3.000,2455.0,0.0,0.143,46041.073,...,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795,NaN
DZA,Africa,Algeria,2021-06-23,137049.0,370.0,370.143,3660.0,10.0,8.857,3125.330,...,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748,NaN
AND,Europe,Andorra,2021-06-23,13873.0,9.0,5.286,127.0,0.0,0.000,179550.896,...,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WLF,Oceania,Wallis and Futuna,2021-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN,NaN
OWID_WRL,None,World,2021-06-23,179595550.0,437255.0,364715.286,3891758.0,9521.0,8382.429,23040.435,...,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737,NaN
YEM,Asia,Yemen,2021-06-23,6898.0,6.0,4.429,1355.0,0.0,0.571,231.275,...,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470,NaN
ZMB,Africa,Zambia,2021-06-23,137026.0,3367.0,2596.571,1794.0,50.0,43.143,7453.564,...,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584,NaN
ZWE,Africa,Zimbabwe,2021-06-23,43480.0,766.0,417.714,1692.0,1.0,7.429,2925.400,...,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571,NaN

**Pengambilan Sample Ulang**

In [69]:
data = pd.DataFrame(np.random.randint(0, 500, len(dt_naive)), columns=["score"], index=dt_naive)
display(data)
print(data.resample("4H").sum())
print(data.resample("D").mean())

                     score
2021-08-01 00:00:00     43
2021-08-01 02:00:00    439
2021-08-01 04:00:00     26
2021-08-01 06:00:00    265
2021-08-01 08:00:00    243
2021-08-01 10:00:00     59
2021-08-01 12:00:00    405
2021-08-01 14:00:00     72
2021-08-01 16:00:00    239
2021-08-01 18:00:00    379
2021-08-01 20:00:00    233
2021-08-01 22:00:00    395
2021-08-02 00:00:00    419
2021-08-02 02:00:00    226
2021-08-02 04:00:00    480
2021-08-02 06:00:00    262
2021-08-02 08:00:00    407
2021-08-02 10:00:00    111
2021-08-02 12:00:00    218
2021-08-02 14:00:00    360
2021-08-02 16:00:00    443
2021-08-02 18:00:00    307
2021-08-02 20:00:00    167
2021-08-02 22:00:00     12

                     score
2021-08-01 00:00:00    482
2021-08-01 04:00:00    291
2021-08-01 08:00:00    302
2021-08-01 12:00:00    477
2021-08-01 16:00:00    618
2021-08-01 20:00:00    628
2021-08-02 00:00:00    645
2021-08-02 04:00:00    742
2021-08-02 08:00:00    518
2021-08-02 12:00:00    578
2021-08-02 16:00:00    750
2021-08-02 20:00:00    179
                 score
2021-08-01  233.166667
2021-08-02  284.333333

**TRANSFORMASI DATA**

In [70]:
alice = pd.read_csv("/DSCA/Data Analysis with Pandas/words.txt", header=None)

In [71]:
alice.columns = ["text"]

In [72]:
alice["len_text"] = alice.text.str.len()
alice["digit_exist"] = alice.text.str.isdigit()

In [73]:
alice

             text  len_text  digit_exist
0           Alice         5        False
1             was         3        False
2       beginning         9        False
3              to         2        False
4             get         3        False
5            very         4        False
6           tired         5        False
7              of         2        False
8         sitting         7        False
9              by         2        False
10            her         3        False
11         sister         6        False
12           bank         4        False
13         having         6        False
14        nothing         7        False
15           Once         4        False
16          twice         5        False
17            she         3        False
18            had         3        False
19         peeped         6        False
20           into         4        False
21            the         3        False
22           book         4        False
23            her         3        False
24         sister         6        False
25            was         3        False
26        reading         7        False
27            but         3        False
28             it         2        False
29            had         3        False
30             no         2        False
31       pictures         8        False
32             or         2        False
33  conversations        13        False
34             in         2        False
35             it         2        False
36            and         3        False
37           what         4        False
38             is         2        False
39            the         3        False
40            use         3        False
41             of         2        False
42              a         1        False
43           book         4        False
44        thought         7        False
45          Alice         5        False
46        without         7        False
47       pictures         8        False
48             or         2        False
49  conversations        13        False

In [74]:
alice["is_digit"] = alice.digit_exist.apply(lambda b: int(b))

In [75]:
alice

             text  len_text  digit_exist  is_digit
0           Alice         5        False         0
1             was         3        False         0
2       beginning         9        False         0
3              to         2        False         0
4             get         3        False         0
5            very         4        False         0
6           tired         5        False         0
7              of         2        False         0
8         sitting         7        False         0
9              by         2        False         0
10            her         3        False         0
11         sister         6        False         0
12           bank         4        False         0
13         having         6        False         0
14        nothing         7        False         0
15           Once         4        False         0
16          twice         5        False         0
17            she         3        False         0
18            had         3        False         0
19         peeped         6        False         0
20           into         4        False         0
21            the         3        False         0
22           book         4        False         0
23            her         3        False         0
24         sister         6        False         0
25            was         3        False         0
26        reading         7        False         0
27            but         3        False         0
28             it         2        False         0
29            had         3        False         0
30             no         2        False         0
31       pictures         8        False         0
32             or         2        False         0
33  conversations        13        False         0
34             in         2        False         0
35             it         2        False         0
36            and         3        False         0
37           what         4        False         0
38             is         2        False         0
39            the         3        False         0
40            use         3        False         0
41             of         2        False         0
42              a         1        False         0
43           book         4        False         0
44        thought         7        False         0
45          Alice         5        False         0
46        without         7        False         0
47       pictures         8        False         0
48             or         2        False         0
49  conversations        13        False         0

In [76]:
alice["len_percentage"] = alice.len_text.apply(lambda n: n/alice.len_text.sum())

In [77]:
alice.head()

        text  len_text  digit_exist  is_digit  len_percentage
0      Alice         5        False         0        0.022727
1        was         3        False         0        0.013636
2  beginning         9        False         0        0.040909
3         to         2        False         0        0.009091
4        get         3        False         0        0.013636

**Grouping**

In [78]:
df_group = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed")
)

In [79]:
df_group

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [80]:
grouped1 = df_group.groupby("class")

In [81]:
grouped1.head()

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [82]:
grouped2 = df_group.groupby("order", axis="columns")
grouped2.head()

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [83]:
grouped3 = df_group.groupby(["class", "order"])
grouped3.head()

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

**PIVOTING**