LIST

In [1]:
empty_list = []
first_quarter_of_the_months = ['January', 'February', 'March']
last_5_years = [2016, 2017, 2018, 2019, 2020]
list_mix = [100, 2.14, "bitlabs", True, -9, 7+2j]

print([], type([]))
print(last_5_years, type(last_5_years))
print(list_mix, type(list_mix))

[] <class 'list'>
[2016, 2017, 2018, 2019, 2020] <class 'list'>
[100, 2.14, 'bitlabs', True, -9, (7+2j)] <class 'list'>

In [2]:
#len is for knowing how many element in that list, use len(variable)

random_numbers = [1, 5, 4, 4, 8, 6, 4, 4, 7, 8, 3, 4, 7, 6, 2, 1, 1, 1, 3, 3]

print("length of last_5_years:", len(last_5_years))
print("length of empty_list:", len(empty_list))
print("length of random_numbers:", len(random_numbers))
print("length of list_mix:", len(list_mix))

print(sorted(random_numbers))
print(sorted(random_numbers, reverse=True))

length of last_5_years: 5
length of empty_list: 0
length of random_numbers: 20
length of list_mix: 6
[1, 1, 1, 1, 2, 3, 3, 3, 4, 4, 4, 4, 4, 5, 6, 6, 7, 7, 8, 8]
[8, 8, 7, 7, 6, 6, 5, 4, 4, 4, 4, 4, 3, 3, 3, 2, 1, 1, 1, 1]

In [3]:
words_in_bitlabs = list("bitlabs")
print(words_in_bitlabs)

list(last_5_years)
print(last_5_years, "this data has type of:", type(last_5_years), "and has length of:", len(last_5_years))
print(list([2022, 2023, 2024, 2025, 2026]))

['b', 'i', 't', 'l', 'a', 'b', 's']
[2016, 2017, 2018, 2019, 2020] this data has type of: <class 'list'> and has length of: 5
[2022, 2023, 2024, 2025, 2026]

In [4]:
less_than_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print("number less than ten:", less_than_ten)

reverse_less_than_ten = sorted(less_than_ten, reverse=True)
print("Decending order:", reverse_less_than_ten)

number less than ten: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Decending order: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [5]:
less_than_ten_string = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]
print('number less than ten:', less_than_ten_string)

reverse_less_than_ten_str = sorted(less_than_ten_string, reverse=True)
print("Decending order less than ten:", reverse_less_than_ten_str)

text_bit = " bit "
text_bit_ten = text_bit.join(less_than_ten_string)
print(text_bit_ten)
print()
#iseng
less_than_10_str = list("0123456789")
print('number less than 10', less_than_10_str)

reverse_less_than_10_str = sorted(less_than_10_str, reverse=True)
print('Decending number less than ten', reverse_less_than_10_str)

text_bit_iseng = text_bit.join(less_than_10_str)
print(text_bit_iseng)

number less than ten: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
Decending order less than ten: ['9', '8', '7', '6', '5', '4', '3', '2', '1', '0']
0 bit 1 bit 2 bit 3 bit 4 bit 5 bit 6 bit 7 bit 8 bit 9

number less than 10 ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
Decending number less than ten ['9', '8', '7', '6', '5', '4', '3', '2', '1', '0']
0 bit 1 bit 2 bit 3 bit 4 bit 5 bit 6 bit 7 bit 8 bit 9

In [6]:
print(min(less_than_10_str))
print(max(less_than_10_str))
print(min(last_5_years))
print(max(last_5_years))
print(min(random_numbers))
print(max(random_numbers))
print(min('bitlabs'))
print(max('bitlabs'))

0
9
2016
2020
1
8
a
t

In [7]:
print(first_quarter_of_the_months)

first_quarter_of_the_months.append('April')
print(first_quarter_of_the_months)

['January', 'February', 'March']
['January', 'February', 'March', 'April']

In [8]:
print('KUIS')
random_dates = ['June 21, 2001', 'December 4, 2002', 'August 23, 2003', 
                'March 29, 2004', 'August 1, 2005', 'July 22, 2006',
                'July 11, 2007', 'November 13, 2008', 'March 20, 2009',
                'March 9, 2010']
print("Tanggal dengan Tahun Genap:", list(random_dates[1::2]))
print("Tanggal dengan Tahun Ganjil:", list(random_dates[0::2]))

KUIS
Tanggal dengan Tahun Genap: ['December 4, 2002', 'March 29, 2004', 'July 22, 2006', 'November 13, 2008', 'March 9, 2010']
Tanggal dengan Tahun Ganjil: ['June 21, 2001', 'August 23, 2003', 'August 1, 2005', 'July 11, 2007', 'March 20, 2009']

SET

In [9]:
set_is_unique = {1, 4, 5, 6, 4, 2, 6, 7, 4, 8, 4, 2, 3, 4, 5, 1}
string_in_set = {'Bob', 'Edna', 'Ross', 'Monica', 'Chandler', 'Monica', 'Bob', 'Ross Geller', 
                 'Monica Geller', 'bob'}

print(set_is_unique, type(set_is_unique))
print(string_in_set, type(string_in_set))
print(sorted(set_is_unique))

{1, 2, 3, 4, 5, 6, 7, 8} <class 'set'>
{'Monica Geller', 'Bob', 'Ross Geller', 'Chandler', 'Ross', 'Edna', 'bob', 'Monica'} <class 'set'>
[1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
female_names = {'Sue', 'Mary', 'Kate', 'Lee'}
male_names = {'Eric', 'Lee', 'Tom', 'Adam'}
print('1.', 'Female_names:', female_names, 'it has', len(female_names), 'elements')
print('Male_names:', male_names, 'it has', len(male_names), 'elements')
print()

all_names = female_names | male_names
print('2.' 'all names:', all_names)
print()

female_male_names = female_names & male_names
print('3.', 'female and males names:', female_male_names)
print()

only_females = female_names - male_names
only_males = male_names - female_names
print('4.', 'only female names:', only_females)
print('only males names:', only_males)
print()

print('Lee' in female_names, type('Lee' in female_names))
print('Lee' not in male_names)
print(male_names <= female_names)
print(female_male_names <= male_names)
print(female_male_names < male_names)
print(female_male_names >= female_names)

1. Female_names: {'Sue', 'Kate', 'Mary', 'Lee'} it has 4 elements
Male_names: {'Adam', 'Lee', 'Tom', 'Eric'} it has 4 elements

2.all names: {'Kate', 'Lee', 'Mary', 'Adam', 'Sue', 'Tom', 'Eric'}

3. female and males names: {'Lee'}

4. only female names: {'Sue', 'Kate', 'Mary'}
only males names: {'Adam', 'Tom', 'Eric'}

True <class 'bool'>
False
False
True
True
False

In [11]:
purchased_history = ["batman", "robin", "iron man", "robin", "captain america",
                     "iron man", "iron man", "superman", "batman", "superman"]
unique_purchased = set(purchased_history)
print(unique_purchased)

{'superman', 'captain america', 'iron man', 'batman', 'robin'}

TUPPLE

In [12]:
ceo = ('mark','elon')
print(ceo, type(ceo))

same_ceo = 'mark', 'elon'
print(same_ceo, type(same_ceo))
       
bootcamp = '',
print(bootcamp, type(bootcamp))
       
str_bootcamp = 'bitlabs'
print(str_bootcamp, type(str_bootcamp))
print(str_bootcamp == bootcamp)

('mark', 'elon') <class 'tuple'>
('mark', 'elon') <class 'tuple'>
('',) <class 'tuple'>
bitlabs <class 'str'>
False

In [13]:
first_ceo = ceo[0]
second_ceo = ceo[1]

first_ceo, second_ceo = ceo
print(first_ceo, second_ceo)
print()
print(first_ceo)
print(second_ceo)

mark elon

mark
elon

In [14]:
print('kuis')
location = -6.91589099562453, 107.62285836361218
print(location)

kuis
(-6.91589099562453, 107.62285836361218)

In [15]:
first_quarter_of_the_months = ['January', 'February', 'March']

print(first_quarter_of_the_months, type(first_quarter_of_the_months))
print(tuple(first_quarter_of_the_months), type(tuple(first_quarter_of_the_months)))
print(tuple())
print(tuple('bitlabs'))

['January', 'February', 'March'] <class 'list'>
('January', 'February', 'March') <class 'tuple'>
()
('b', 'i', 't', 'l', 'a', 'b', 's')

In [16]:
print('kuis')
tuple_x = list(), str(), int(), float()
tuple_y = (list(), str(), int(), float())

print(tuple_x == tuple_y)
print(tuple_y[0])
print(tuple_x[3])

kuis
True
[]
0.0

DICTIONARY

In [ ]:
height = {"john": 166, "stuart": 169, "kevin": 171}
#pertanyaan: apakah utk value, dia adalah apapun dibelakang titik dua, hingga ke koma?

print(height, type(height))

In [ ]:
print(height['john'])
print(height["stuart"])
print(height["kevin"])
print(height['kevin'])

In [ ]:
#pertanyaan: jika suatu variabel sudah terdefinisikan, apa yg terjadi jika kita menggunakan definisi yg berbeda?
height = {"john": 166, "stuart": 169, "kevin": 171, "john": 190, "Kevin": 170}

print(height)
#bila ada key yg sama, maka yang akan disimpan adalah yg terakhir

In [20]:
height['kevin'] = 180
height['Kevin'] = 167

print(height)

{'john': 190, 'stuart': 169, 'kevin': 180, 'Kevin': 167}

In [21]:
print('kuis')
#cara 1
functional_population = dict(Jakarta=20.8, Surabaya=18.2, Bandung=15.1, Semarang=12.3)
print(functional_population, type(functional_population))
print()
#cara 2
sequental_population = dict()
sequental_population['Jakarta'] = 20.8
sequental_population['Surabaya'] = 18.2
sequental_population['Bandung'] = 15.1
sequental_population['Semarang'] = 12.3
print(sequental_population, type(sequental_population))

kuis
{'Jakarta': 20.8, 'Surabaya': 18.2, 'Bandung': 15.1, 'Semarang': 12.3} <class 'dict'>

{'Jakarta': 20.8, 'Surabaya': 18.2, 'Bandung': 15.1, 'Semarang': 12.3} <class 'dict'>

In [22]:
print(height.keys())
print(height.values())
print(height.items())
print(height.get('kevin'))
print(height.get('jhon'))
print(height.get('jhon', 'oops, we dont have that name'))
print()
print(height)
height.update({'jhon': 188})
print(height)
height.update({'kevin': 181})
print(height)

dict_keys(['john', 'stuart', 'kevin', 'Kevin'])
dict_values([190, 169, 180, 167])
dict_items([('john', 190), ('stuart', 169), ('kevin', 180), ('Kevin', 167)])
180
None
oops, we dont have that name

{'john': 190, 'stuart': 169, 'kevin': 180, 'Kevin': 167}
{'john': 190, 'stuart': 169, 'kevin': 180, 'Kevin': 167, 'jhon': 188}
{'john': 190, 'stuart': 169, 'kevin': 181, 'Kevin': 167, 'jhon': 188}

CONDITIONAL STATEMENT

In [23]:
money = 5000

if (money >= 20000) and (money < 75000):
    print ("buy comis")
elif (money >= 75000) and (money < 100000):
    print("buy novel")
elif (money >= 100000):
    print('buy mag')
else:
    print('saddddd')

saddddd

In [24]:
money = 2000

if (money >= 100000):
    print("let's buy magazine")
elif (money >= 75000) and (money < 100000):
    print("let's just buy novel")
elif (money >= 20000) and (money < 75000 ):
    print("let's just buy this comic")
else: print("we don't have enough money, let's just buy ice cream")

we don't have enough money, let's just buy ice cream

In [25]:
print ('kuis')
print('1.')
points = 99

if (points >= 1) and (points < 51):
    print("you've just got WOODEN RABBIT")
elif (points >= 51) and (points < 151):
    print("NO PRIZE, better luck next time")
elif (points >= 151) and (points < 181):
    print("yeiyy.. you win WAFER-THIN MINT")
elif (points >= 181) and (points < 201):
    print("congratulations, you just win a big PENGUIN")

print()
print('2.')
numbers = [0, 1, 2, 3, 4, 5, 6, 8, 9]
number = 9
print('Numbers:', numbers)

print('Checking membership of {}...'.format(number))
if number in numbers:
    print("untung ada elemennya! di indeks:", numbers.index(number))
else:
    print("sayang sekali, {} tidak ditemukan. Tambahkan {} ke dalam list tersebut!". format(
        number, number))
    numbers.append(number)
    print('New Numbers:', numbers)

kuis
1.
NO PRIZE, better luck next time

2.
Numbers: [0, 1, 2, 3, 4, 5, 6, 8, 9]
Checking membership of 9...
untung ada elemennya! di indeks: 8

In [26]:
len(empty_list) == 1

False

WHILE LOOP

In [27]:
names = ["brown", "james", "jackson", "lee"]

In [28]:
num_names = len(names)
print(len(names))
idx = 0

while idx < num_names:
    print(names[idx])
    idx += 1

4
brown
james
jackson
lee

In [29]:
print('KUIS')
neg_idx = -1

while neg_idx >= -len(names):
    print(names[neg_idx])
    neg_idx -= 1

KUIS
lee
jackson
james
brown

In [30]:
idx = 0

while idx < len(names):
    if len(names[idx]) < 5:
        break
    print(names[idx])
    idx += 1

brown
james
jackson

In [31]:
names.append("jack")
names.append("herald")
names
print(names)
idx = 0
while idx < len(names):
    if len(names[idx]) < 5:
        idx += 1
        continue
    print(names[idx])
    idx += 1

['brown', 'james', 'jackson', 'lee', 'jack', 'herald']
brown
james
jackson
herald

In [32]:
print('KUIS')
char_limit = 150
headlines = ["Pemprov DKI Perpanjang PPKM Mikro hingga 14 Juni",
             "Manchester City Dekati Sergio Ramos",
             "8 Juta Dosis Vaksin Sinovac Tiba di Tanah Air",
             "10 Potret Kece Tatjana Saphira Berkacamata, Stylish Banget!",]

long_headlines = " ".join(headlines)[:char_limit]
print(long_headlines)

indeks = 0
#new_long_headlines =

KUIS
Pemprov DKI Perpanjang PPKM Mikro hingga 14 Juni Manchester City Dekati Sergio Ramos 8 Juta Dosis Vaksin Sinovac Tiba di Tanah Air 10 Potret Kece Tatj

FOOR LOOP

In [33]:
names = ["brown", "james", "jackson", "lee", "johnson", "michael", "stephany"]

for name in names:
    print(name)

brown
james
jackson
lee
johnson
michael
stephany

In [34]:
manifesto = [
    ("bananas", 15), 
    ("mattresses", 24), 
    ("dog kernels", 42), 
    ("computer", 120), 
    ("cheeses", 5)
]
cargo = []
total_weight = 0
max_capacity = 100

In [35]:
for item, weight in manifesto:
    print("item:", item)
    print("weight:", weight)
    print()

item: bananas
weight: 15

item: mattresses
weight: 24

item: dog kernels
weight: 42

item: computer
weight: 120

item: cheeses
weight: 5

In [36]:
for cargo_names, cargo_weight in manifesto:
    print("current_weight:", total_weight)
    if total_weight >= max_capacity:
        print("Stop Loading. Total weight:", total_weight)
        break
    
    if cargo_weight + total_weight > 100:
        print("-- Skipping {} (weight: {})".format(cargo_names, cargo_weight))
        continue
        
    print("+ Adding {} to cargo (weight: {})".format(cargo_names, cargo_weight))
    cargo.append(cargo_names)
    total_weight += cargo_weight

print("\nFinal weight:", total_weight)
print("Items in cargo:", cargo)

current_weight: 0
+ Adding bananas to cargo (weight: 15)
current_weight: 15
+ Adding mattresses to cargo (weight: 24)
current_weight: 39
+ Adding dog kernels to cargo (weight: 42)
current_weight: 81
-- Skipping computer (weight: 120)
current_weight: 81
+ Adding cheeses to cargo (weight: 5)

Final weight: 86
Items in cargo: ['bananas', 'mattresses', 'dog kernels', 'cheeses']

In [37]:
five_to_nine = range(5, 10)
to_ten = range(10)
to_ten_with_two = range(0 , 10, 2)

print(five_to_nine, type(five_to_nine))
print(to_ten, type(to_ten))
print(to_ten_with_two, type(to_ten_with_two))

range(5, 10) <class 'range'>
range(0, 10) <class 'range'>
range(0, 10, 2) <class 'range'>

In [38]:
print(list(five_to_nine), tuple(five_to_nine))
print(list(to_ten), tuple(to_ten))
print(list(to_ten_with_two), tuple(to_ten_with_two))

[5, 6, 7, 8, 9] (5, 6, 7, 8, 9)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
[0, 2, 4, 6, 8] (0, 2, 4, 6, 8)

In [39]:
long_list_numbers = list(range(100))
print(long_list_numbers, type(long_list_numbers))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99] <class 'list'>

In [40]:
for x in five_to_nine:
    print(x)
print()

for x in to_ten:
    print(x)
print()

for x in to_ten_with_two:
    print(x)

5
6
7
8
9

0
1
2
3
4
5
6
7
8
9

0
2
4
6
8

In [41]:
len(names), range(7), range(len(names))

(7, range(0, 7), range(0, 7))

In [42]:
for i in range(len(names)):
    print(names[i])

brown
james
jackson
lee
johnson
michael
stephany

In [43]:
for name in names:
    print(name)

brown
james
jackson
lee
johnson
michael
stephany

In [44]:
print("kuis")
dict_manifesto = dict(manifesto)
print(dict_manifesto)

for key, value in dict_manifesto.items():
    print("{}: {}".format(key, value))

kuis
{'bananas': 15, 'mattresses': 24, 'dog kernels': 42, 'computer': 120, 'cheeses': 5}
bananas: 15
mattresses: 24
dog kernels: 42
computer: 120
cheeses: 5

In [56]:
purchased_product = {"computer": 3, "cheeses": 10, "dog kennels": 5, "bananas": 20}
weight_purchased = {"computer": 360, "cheeses": 50, "dog kennels": 210, "bananas": 300}
print(weight_purchased, type(weight_purchased))
total_weight = 0
max_capacity = 1000
cargo_send = []

for cargo_name, cargo_weight in weight_purchased.items():
    print("current_weight:", total_weight)
    if total_weight >= max_capacity:
        print("Stop Loading. Total weight:", total_weight)
        break
    
    if cargo_weight + total_weight > 1000:
        print("-- Skipping {} (weight: {})".format(cargo_name, cargo_weight))
        continue
    
    print("+ Adding {} to cargo (weight: {})".format(cargo_name, cargo_weight))
    cargo_send.append(cargo_name)
    total_weight += cargo_weight

print("\nFinal weight:", total_weight)

{'computer': 360, 'cheeses': 50, 'dog kennels': 210, 'bananas': 300} <class 'dict'>
current_weight: 0
+ Adding computer to cargo (weight: 360)
current_weight: 360
+ Adding cheeses to cargo (weight: 50)
current_weight: 410
+ Adding dog kennels to cargo (weight: 210)
current_weight: 620
+ Adding bananas to cargo (weight: 300)

Final weight: 920

In [51]:
new_names = ["joko", "abdul", "toni", "marcus", "james"]

print("1.")
list_product = []
for product, _ in manifesto:
    list_product.append(product)
    
print(list_product)
print()
print("2.")
unique_names = [names + new_names]
#ini maksudnya gimana ya?

1.
['bananas', 'mattresses', 'dog kernels', 'computer', 'cheeses']

2.

In [47]:
numbers = [1, 2, 3, 4, 5]
doubled_numbers = [number*2 for number in numbers]

print(doubled_numbers)

[2, 4, 6, 8, 10]

In [48]:
product_to_price = {
    "bananas": 5000,
    "mattresses": 100000,
    "dog kennels": 250000,
    "computer": 1000000,
    "cheeses": 10000,
    "drugs": 50000
}
print(product_to_price)
print()

purchase_history = {
    "james": {"drugs": 2},
    "brown": {"bananas": 10, "drugs": 5},
    "toni": {"dog kennels": 2, "drugs": 2} ,
    "jackson": {"computer": 1, "matresses": 2},
    "lee": {"cheeses": 5, "bananas": 5},
    "johnson": {"computer": 2},
    "michael": {"drugs": 1, "bananas": 1, "mattresses": 2},
    "stephany": {"drugs": 10},
    "joko": {"computer": 2, "mattresses": 3},
    "abdul": {"mattresses": 5, "drugs": 1, "computer": 1, "dog kennels": 2},
    "marcus": {"cheeses": 10}
}
print(purchase_history)
print()

users_spending = {
    user: sum([quantity*product_to_price.get(product_name, 0) for product_name, quantity in dict_products.items()])
    for user, dict_products in purchase_history.items()
}
print(users_spending)

{'bananas': 5000, 'mattresses': 100000, 'dog kennels': 250000, 'computer': 1000000, 'cheeses': 10000, 'drugs': 50000}

{'james': {'drugs': 2}, 'brown': {'bananas': 10, 'drugs': 5}, 'toni': {'dog kennels': 2, 'drugs': 2}, 'jackson': {'computer': 1, 'matresses': 2}, 'lee': {'cheeses': 5, 'bananas': 5}, 'johnson': {'computer': 2}, 'michael': {'drugs': 1, 'bananas': 1, 'mattresses': 2}, 'stephany': {'drugs': 10}, 'joko': {'computer': 2, 'mattresses': 3}, 'abdul': {'mattresses': 5, 'drugs': 1, 'computer': 1, 'dog kennels': 2}, 'marcus': {'cheeses': 10}}

{'james': 100000, 'brown': 300000, 'toni': 600000, 'jackson': 1000000, 'lee': 75000, 'johnson': 2000000, 'michael': 255000, 'stephany': 500000, 'joko': 2300000, 'abdul': 2050000, 'marcus': 100000}

In [49]:
dict_spending = {}
for user, dict_products in purchase_history.items():
    total_spending = 0
    for product_name, quantity in dict_products.items():
        total_spending += quantity * product_to_price.get(product_name, 0)
    dict_spending[user] = total_spending
print(dict_spending)

{'james': 100000, 'brown': 300000, 'toni': 600000, 'jackson': 1000000, 'lee': 75000, 'johnson': 2000000, 'michael': 255000, 'stephany': 500000, 'joko': 2300000, 'abdul': 2050000, 'marcus': 100000}