**API**

In [8]:
import requests
r = requests.get("https://httpbin.org/get")
print(r.status_code)
print(r.text)

200
{
  "args": {},
  "headers": {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate, br",
    "Host": "httpbin.org",
    "User-Agent": "python-requests/2.26.0",
    "X-Amzn-Trace-Id": "Root=1-619ddca7-05b93ff35b48647c5e36e5bb"
  },
  "origin": "36.68.8.183",
  "url": "https://httpbin.org/get"
}

In [9]:
url = "https://httpbin.org/"

In [10]:
parms = {
    "somekey": "somevalue"
}
response = requests.post(url+"post")

In [11]:
print(response.status_code)
print(response.text)

200
{
  "args": {},
  "data": "",
  "files": {},
  "form": {},
  "headers": {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate, br",
    "Content-Length": "0",
    "Host": "httpbin.org",
    "User-Agent": "python-requests/2.26.0",
    "X-Amzn-Trace-Id": "Root=1-619ddca8-508b6c922c4727bb7633ec42"
  },
  "json": null,
  "origin": "36.68.8.183",
  "url": "https://httpbin.org/post"
}

In [12]:
import pandas as pd

class ISS:
    def __init__(self):
        
        self.URLS = [
            'http://api.open-notify.org/iss-now.json',
            'http://api.open-notify.org/astros.json'
        ]
        self.responses = [requests.get(url) for url in self.URLS]
    
    def check_availability(self):
        
        self.info = [
            {
                "source": url,
                "status_code": r.status_code,
                "data": r.json()
            }
            for url, r in zip(self.URLS, self.responses)
        ]
        
        return self
    
    def get_data(self):
        
        data = {}
        for info in self.info:
            
            if info.get("status_code") == 200:
                
                data.update(info.get("data"))
            
        df = pd.DataFrame(data.get("people"))
        longlat = [loc for loc in data.get("iss_position").values()]
        df["timestamp"] = data.get("timestamp")
        df["iss_position"] = f"({longlat[0]}, {longlat[1]})"
        
        df = df[df["craft"] == "ISS"]
        
        return df

In [13]:
iss = ISS()

In [15]:
iss.check_availability()

In [16]:
iss.get_data()

               name craft   timestamp          iss_position
0    Mark Vande Hei   ISS  1637735593  (-13.9248, -59.2696)
1      Pyotr Dubrov   ISS  1637735593  (-13.9248, -59.2696)
2  Anton Shkaplerov   ISS  1637735593  (-13.9248, -59.2696)
6        Raja Chari   ISS  1637735593  (-13.9248, -59.2696)
7     Tom Marshburn   ISS  1637735593  (-13.9248, -59.2696)
8      Kayla Barron   ISS  1637735593  (-13.9248, -59.2696)
9   Matthias Maurer   ISS  1637735593  (-13.9248, -59.2696)